<%= render 'header' %>
<p class=index-p><%= notice %></p>
<div class=body>
  <table>
    <tr>
      <th>過去のツイート</th>
    </tr>
    <% @kadai.each do |kadai| %>
      <tr>
        <td><%= kadai.content %></td>
        <td><%= link_to '確認', kadai_path(kadai.id) %></td>
        <td><%= link_to '編集', edit_kadai_path(kadai.id) %></td>
        <td><%= link_to '削除', kadai_path(kadai.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
      </tr>
    <% end %>
    </table>
    <br>
    <div class=post>
    <%= link_to '投稿', new_kadai_path, class:"post" %>
    </div>
  </div>
  <%= render 'footer'%>
